<div class="comment">
  <div class="comment-author"><a href="<%= Notes.rootUrl + "users/" + comment.user.id %>">
    <%= comment.user.username %></a> posted:</div>
  <div class="comment-body">
    <%= comment.body %>
  </div>
  <%= JST["votes/div"]({
    totalVotes: comment.score,
    currentUser: currentUser,
    votableType: "Comment",
    votableId: comment.id,
    voteSet: Notes.votes,
    author: comment.user_id
  }) %>
</div>