<form class="artist-form" action="<%= url %>" method="<%= method %>">
  <label>
    Artist name
    <input type="text" name="artist[name]" value="<%= artist.name %>">
  </label>

  <input type="submit" value="Add artist!">
</form>