<h1>Albums</h1>

<div id="content">
  <%# TODO: prevent default (keep an entry for being added in history) %>
  <a href="#albums/new">Add new album</a>
</div>

<ul>
<% @albums.each do |album| %>
  <li>
    <%= link_to album.title, album_url(album) %>
  </li>
<% end %>
</ul>


<%# TODO: determine if there is any need for this at all %>
<script type="application/javascript">
  Notes.initialize("<%= root_url %>");
  new Notes.Routers.AlbumsRouter($('#content'));
  Backbone.history.start();
</script>