<div id="content">
  <h2><%= song.title %></h2>

  <div class="lyrics-div">
    <p id="lyrics">
      <%= song.lyrics %>
    </p>
  </div>

  <% _.each(notes, function(note) { %>
    <% console.log("here") %>
    <div class="note hidden" data-id="<%= note.id %>"><p><%= note.body %></p></div>
  <% }) %>
</div>

<!--  /*TODO: set up comment and note handling.*/ -->