<div id="content">
  <h2><%= song.title %></h2>

  <div class="lyrics-div">
    <p class="lyrics">
      <%= song.lyrics %>
    </p>
  </div>
</div>

<%  /*TODO: set up comment and note handling.*/ %>