<h1>notes</h1>

<label> Search <input type="text" name="search[query]"> </label>

<%#= link_to "Artists", artists_url %>
<%#= link_to "Albums", albums_url %>
<%#= link_to "Songs", songs_url %>
<a href="#/sign_in">Sign In</a>
<div id="login" class="hidden">
  <label>Username <input type="text" name="user[username]"></label>
  <label>Password <input type="password" name="user[password]"></label>
  <button>Sign In</button>
  <a href="<%#= new_user_url %>">Sign Up</a>
</div>

<div class="featured-content">
<h2>Featured Songs</h2>
<!-- Code to load and display featured songs -->

<h2>Featured Albums</h2>
<!-- Code for featured albums -->

<h2>Featured Artists</h2>
<!-- Code for featured artists -->
</div>

<div class="recent-content">
<h2>Recent Content</h2>
<!-- Code for recent content -->
</div>