// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2, a, body {
  // warning: div removed from this list
  background-color:black;
  color:white;
}

div {
  border-radius: 15px;
  -moz-border-radius: 15px;
}

input:disabled {
  background-color: #fff;
  color: #C0C0C0;
}

button, input[type=submit] {
  background-color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

label {
  font-family: sans-serif;
}

a {
//  color: lightblue;
  color: #ADD8E6;
  font-family: sans-serif;
}

a:hover {
  color: #BAE8F7;
}

.group:after {
  content: "";
  clear: both;
  display: table;
}

body {
  padding-left: 50px;
  padding-right: 50px;
}

#lyrics, .note > p, .comment-body {
  overflow: auto;
  word-wrap: break-word;
}

.hidden {
  display:none;
}

body {
  font-size: 18px;
  font-family: sans-serif;
}

textarea, input[type=text], input[type=password] {
  background-color: #161616; // #333333;
  color: white;
}

div.javascript-request {
  height: 100%;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: black;
  text-align: center;
}

.logo-header {
  text-align: center;
  float: left;
}

a.logo-link {
  color: lightblue;
}

a.logo-link:hover {
  color: #BAE8F7;
}

ul.navlist {
  list-style: none;
  float: right;
  padding-top: 15px;
}

ul.navlist > li {
  float: left;
  padding: 0 10px 0 10px;
}

div.errors, div.login-errors, div.signup-errors {
  color: red;
}

.content {
  //width: 950px;
//  margin: auto;
}

.featured-content {
  float: left;
  padding: 0 0 0 0px; // was 10px left
  max-width: 400px;
}

.featured-content > ul {
  list-style: none;
  padding: 0;
}

.featured-content > ul > li {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #333333;
}

.featured-content > ul > li:first-child {
  border-top: 1px solid #333333;
}

.recent-content-wrapper {
  float: right;
  width: 400px;

}

.recent-content {
  float: left;
  width: 400px;
//  padding: 0 40px 0 0;
  padding: 0;
}

.recent-content > ul, .recent-content-list {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}

.recent-content > ul > li {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #333333;
}

.recent-content > ul > li:first-child {
  border-top: 1px solid #333333;
}
