// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2, a, body {
  // warning: div removed from this list
  background-color:black;
  color:white;
}

.hidden {
  display:none;
}

a.logo-link {
  color: lightblue;
}

div.javascript-request {
  height: 100%;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: black;
  text-align: center;
}