// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.song-header {
  width: 500px;
  background-color: #161616;
  border: 1px solid #333333;
}

.song-header > h2 {
  background-color: #161616;
  text-align: center;
}

.song-header > h2 > a {
  background-color: #161616;
}

.lyrics-div {
  width: 460px;
  padding: 0 20px 0 20px;
  background-color: #161616;
  border: 1px solid #333333;
}

.highlighted {
  background-color: lightblue;
  color: black;
}

#lyrics {
  white-space: pre-wrap;
}

#lyrics > div {
  white-space: normal;
}

#lyrics > a {
  color: lightblue;
}

#lyrics > a:hover {
  background-color: lightblue;
  color: black;
}

.add-note {
  position: absolute;
  left: 550px;
  width: 400px;
  border: 1px solid #333333;
  padding: 10px;
}

.note {
  position:absolute; // fixed?
  width: 400px;
  left: 550px;
  color: white;
  background-color: #161616 !important;
  border: 1px solid #333333;
  padding: 10px;
}

.add-note {
  background-color: #161616 !important;
}

.add-note-form > input, .add-note-form > label, .add-note-form > label > textarea {
  display: block;
}

.add-note-form > label > textarea {
  width: 390px;
  margin: auto;
  background-color: #333333;
  color: white;
}

.note > p {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #333333 // #DADADA;
}

.song-comment-form > input, .song-comment-form > label,
  .song-comment-form > label > textarea {
    display: block;
}

.song-comment-form > label > textarea {
  width: 500px;
  //margin: auto;
}

.comment-author {
  padding: 0 0 0 10px;
}

.comment-body {
  padding: 10px 0 0 10px;
}

.song-comments-infobox, .note-comments-infobox {
  padding-top: 10px;
  padding-bottom: 10px;
}

.comment {
  padding-bottom: 0px;
  padding-top: 20px;
  border: 1px solid #333333;
  background-color: #161616
//  border-bottom: 1px solid #DADADA;
}

.note-comment-form > input, .note-comment-form > label,
  .note-comment-form > label > textarea {
    display: block;
}

.note-comment-form > label > textarea {
  width: 395px;
}

div.vote-container {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  margin: auto;
}

div.vote-container > div.in-vote-container {
  float: left;
}
div.in-vote-container > form {
  float: left;
  padding-left: 20px;
}

div.vote-container:after {
  content: "";
  clear: both;
  display: table;
}

.comment-section {
  max-width: 500px;
}

.hidden {
  display:none;
}