// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-note {
  position: absolute;
  left: 450px;
  border: 1px solid white;
  padding: 10px;
}



.lyrics-div {
  width: 400px;
}

.highlighted {
  background-color: lightblue;
  color: black;
}

#lyrics > a {
  color: lightblue;
}

#lyrics > a:hover {
  background-color: lightblue;
  color: black;
}

.note {
  position:absolute; // fixed?
  left: 500px;
  color: white;
  background-color: #181818 !important;
  border: 1px solid white;
  padding: 10px;
}

.note > p {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #DADADA;
}

div.vote-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

div.vote-container > div.in-vote-container {
  float: left;
}
div.in-vote-container > form {
  float: left;
  padding-left: 20px;
}

div.vote-container:after {
  content: "";
  clear: both;
  display: table;
}

input:disabled {
  background-color: white;
}

.song-comments-infobox, .note-comments-infobox {
  padding-top: 10px;
  padding-bottom: 10px;
}

.comment {
  padding-bottom: 0px;
  padding-top: 20px;
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
}

.comment-body {
  padding-top: 10px;
}

.hidden {
  display:none;
}